@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #008080;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'MS Sans Serif', 'Segoe UI', Tahoma, sans-serif;
  -webkit-font-smoothing: none; /* Pixelated look for Retro feel */
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 16px;
  background: #dfdfdf;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: #c0c0c0;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px #808080, inset 2px 2px #ffffff, inset -2px -2px #404040;
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0; 
  background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
  background-size: 2px 2px;
  background-position: 0 0, 1px 1px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px #808080, inset 2px 2px #ffffff, inset -2px -2px #404040;
}
